<style>
    .dropdown {
      /* position: relative; */
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      color: white;
      background-color: rgba(3,43,56,0.8);
      min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    /* margin-right: 151px; */
    z-index: 1;
    right: 0;
    }
    .dropdown-content a:hover{
        color:rgba(247, 227, 2, 0.795) ;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    </style>
<header class="header-main">
    <div class="top-header">
        <div class="theme-container">
            <div class="left">
                <div class="header-contact">
                    <ul class="menu-display">
                        <li><i class="fa-solid fa-phone"></i> (+00) 987 654 321</li>
                        <li><i class="fa-regular fa-envelope"></i> trieutbps24977@fpt.edu.vn</li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <ul class="menu-display">
                    <li> <a href=""><i class="fa-regular fa-heart"></i> Danh sách yêu thích</a></li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li> -->
                    <!-- <li id="cur_out"><span><i class="fa-regular fa-user"></i>
                        <% if (typeof user !== 'undefined') { %>
                            <a href="/" id="userlink"><%= user.username %></a>
                            <ul class="nav-menu-shop">
                                <li>Thoát</li>
                            </ul>
                          <% } else { %>
                            <a href="/login" id="userlink">Đăng nhập/Ký</a>
                          <% } %>

                     
                           </li> -->
                           <li class="dropdown">
                            <% if (typeof user !== 'undefined') { %>
                            <span><%= user.username %></span>
                            
                            <div class="dropdown-content">
                                <% if (user.role==1) { %>
                                    <a href="/admin" >Admin</a>
                                
                                    <%}%>
                                <a href="/login/doipass" style="margin-left: 10px;">Đổi mật khẩu</a>
                            <a href="/login/thoat" style="margin-left: 10px;">Thoát</a>
                           

                            </div>
                            <% } else { %>
                                <span>Login</span>
                                <div class="dropdown-content">
                                    <a href="/login/signup">Đăng Nhập</a>
                                    <a href="/login/signin" style="margin-left: 10px;">Đăng ký</a>
                                
    
                                </div>

                                <% } %>
                        </li>
                </ul>

                <div class="account-link">

                </div>
            </div>
        </div>
    </div>
    <div class="mid-header ">
        <div class="theme-container menu-container">
            <div class="menu-left"><a href="index.html">
                    <img src="/images/logo.png" alt=""></a>
            </div>
            <div class="menu-center">
                <nav class="menu-main">
                    <ul class="menu-display">
                        <!-- <span id="Categories"></span> -->
                        <li><a href="/">HOME</a></li>
                        <li class="menu-shop"><a href="/shop">SHOP</a>
                            <ul class="nav-menu-shop" id="nav-menu-shop">
                             
                            </ul>

                        </li>
                        <li><a href="">BLOG</a></li>
                        <li><a href="">MEDIA</a></li>
                        <li><a href="">SHORTCODE</a></li>
                        <li><a href="">CONTACT US</a></li>
                        <li><a href="">FAQS</a></li>
                        <li><a href="">MORE</a></li>
                    </ul>
                </nav>
            </div>
            <div class="menu-right">
                <div class="cart">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                    <div class="cart-price">
                        <a href="">
                            <span class="cart-contents"> $0.00</span>
                            <span class="cart-qty">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bot-header theme-container">
        <div class="header-bottom-inner">
            <div class="bot-left">
                <div class="header-search">
                    <form action="" role="search">
                        <input type="text" placeholder="Tìm kiếm...">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="bot-right">
                <div class="bot-cms">
                    <a href="">
                        <div class="service-list service1 ">
                            <div class="service-outer">
                                <div class="service-icon"></div>
                                <div class="service-content">
                                    <div class="service-title">Giảm giá</div>
                                    <div class="service-text">Đặc biệt</div>
                                </div>
                            </div>
                        </div>
                        <div class="service-list service2">
                            <div class="service-outer">
                                <div class="service-icon"></div>
                                <div class="service-content">
                                    <div class="service-title">Giá </div>
                                    <div class="service-text">Lý tưởng</div>
                                </div>
                            </div>
                        </div>
                        <div class="service-list service3">
                            <div class="service-outer">
                                <div class="service-icon"></div>
                                <div class="service-content">
                                    <div class="service-title">Ngon bổ</div>
                                    <div class="service-text">Rẻ</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</header>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
       window.fetch("http://localhost:3000/category/")  
    .then(function(res) {
        if(!res.ok) {throw new Error("Lỗi = " + res.status); }
        return res.json();
    })
    .then(function(data) {
        let menu= document.getElementById('nav-menu-shop');
        data.forEach(item => {
            menu.innerHTML +=`<li class="cat-item-nav" id="catid"><a  href="/shop/cate/${item.id_cate}">${item.name_cate}</a></li>`
        });
        
        console.log(data);
    })
    .catch(function(error)  { console.log("Lỗi: ", error);})
</script>