<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB GAME</title>
    <link rel="stylesheet" href="/font/fontawesome/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Righteous&display=swap"
        rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;;900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/shop.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <section class=" main-section elementor-section  ">
            <div class="product-contents">
                <div class="title-page">
                    <h1 id="title-name"></h1>
                </div>
                <div class="content-product">
                    
                    <div class="content-wrapper-outer" id="content-wrapper-outer" style="margin-top: 20px;">
                       
                    </div>
                </div>
            </div>  
        </section>
    </main>
    <%- include('partials/footer'); -%>

</body>
<script>
    window.fetch("http://localhost:3000/product/")  
 .then(function(res) {
     if(!res.ok) {throw new Error("Lỗi = " + res.status); }
     return res.json();
 })
 .then(function(data) {
    
    //  let specialpro= document.getElementById('content-wrapper-outers_special');
     let products=document.getElementById('content-wrapper-outer');
     data.forEach(item => {
     
        var start='';
            if(item.special==1){
                
                start=`<i class="fa-solid fa-star" style="color:#F3B402;"></i>
                                                <i class="fa-solid fa-star" style="color:#F3B402;"></i>
                                                <i class="fa-solid fa-star" style="color:#F3B402;"></i>
                                                <i class="fa-solid fa-star" style="color:#F3B402;"></i>
                                                <i class="fa-solid fa-star" style="color:#F3B402;"></i>`;
            }else{
                start=`<i class="fa-solid fa-star" style="color:#F3B402;"></i>
                                                <i class="fa-solid fa-star" style="color:#F3B402;"></i>
                                                <i class="fa-solid fa-star" style="color:#F3B402;"></i>`
            }
            // console.log(start);
            // if(item.cate_id===id){

            
            products.innerHTML+=`<div class="content-row-product" onclick='updateview()' >
                                <input type="hidden" value="${item.id_pro}" id="idpro">
                                <a href="/shop/product/${item.id_pro}" class="img-product"  id="proid" >
                                    <img src="/images/${ item.urlHinh }" alt="">
                                </a>
                                <span class="onsale">${Math.round(100-(item.discount/ item.price_pro ) *100).toFixed(0)}%</span>
                                <div class="star-rating-block">
                                    <div class="star-rating">
                                       ${start}
                                                
                                              
                                        
                                        
                                        
                                    </div>
                                </div>
                                <h3 class="product-name">
                                    <a href="/shop/product/${item.id_pro}"  id="proid">${item.name_pro }</a>
                                </h3>
                                <div class="poduct-price">
                                <del><span>$</span>${item.price_pro}</del>
                        
                                <ins><span>$</span>${item.discount}</ins>
                                </div>
                                </div>`
    //    }
         
     });
     
     console.log(data);
 })
 .catch(function(error)  { console.log("Lỗi: ", error);})



 </script>
<script src="/javascripts/fixed.js"></script>

</html>

            
        
  